#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [5]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('supermarket_sales.csv')

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [37]:
grouped = df.groupby('Branch')
grouped['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [35]:
grouped['City'].value_counts()

Branch  City
A       Yangon       340
B       Mandalay     332
C       Naypyitaw    328
Name: count, dtype: int64

In [ ]:
В нас всього три філали по одному в кожному місті. Найбільший прибуток в Naypyitaw

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [65]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='City', aggfunc='value_counts')
invoices_by_category

,Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,City,,,,,,
A,Yangon,60,51,58,47,65,59
B,Mandalay,55,62,50,53,50,62
C,Naypyitaw,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [127]:
invoices_by_category.sort_values(by=['Electronic accessories'], ascending=[False]).head(1)

,Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,City,,,,,,
A,Yangon,60,51,58,47,65,59

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

Гіпотези:
1.Чи відрізняється середній чек у різних Customer type?	
2.Чи відрізняється середній чек у різних Gender?
3.Чи збільшуються продажі з кожним місяцем?

In [190]:
#гіпотеза 1
grouped = df.groupby('Customer type')
grouped['Total'].mean()

Customer type
Member    327.791305
Normal    318.122856
Name: Total, dtype: float64

In [200]:
#гіпотеза 2
grouped = df.groupby('Gender')
print(grouped['Total'].mean())
total_gender = pd.pivot_table(df, index='Gender', columns='Product line', values='Total', aggfunc='mean')
total_gender

Gender
Female    335.095659
Male      310.789226
Name: Total, dtype: float64

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,322.643125,317.056250,368.565750,290.015414,380.213639,324.712739
Male,316.691965,291.079207,273.499125,348.099460,294.136241,340.360327

In [206]:
#гіпотеза 3
def get_month(date):
    date[:1]
    return date[:1]

df['Month']=df.Date.apply(get_month)
df['Month']

grouped = df.groupby('Month')
grouped['gross income'].sum()

Month
1    5537.708
2    4629.494
3    5212.167
Name: gross income, dtype: float64

Як відповідь на це питання може бути використана для прийняття бізнес рішень:

1. У користувачів з Customer type=Member  середній чек більше на 3,2% більший. Можливо варто заохочувати користувачів ставати Member
2. У жінок середній чек на 7,7% більший, це привід зробити рекламу орьеновану на жінок для їх залучення. Також сильно менше чек у чоловіків у розділі Home and lifestyle, можливо чоловіки просто не знають, що знаходиться в цьому відділі не заходять туди- можуть знадобитися рекламки/вивіски які будуть ознайомлювати з різними продуктами з цієї категорії
3. На трьох місяцях складно говорити про динаміку, але в подальшому ми можемо спостерігати за цим значеннями, щоб розуміти що рухаємося в правильному напрямі в заохоченні нових покупців.