#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [5]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [37]:
grouped = df.groupby('Branch')
grouped['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [35]:
grouped['City'].value_counts()

Branch  City
A       Yangon       340
B       Mandalay     332
C       Naypyitaw    328
Name: count, dtype: int64

In [ ]:
–í –Ω–∞—Å –≤—Å—å–æ–≥–æ —Ç—Ä–∏ —Ñ—ñ–ª–∞–ª–∏ –ø–æ –æ–¥–Ω–æ–º—É –≤ –∫–æ–∂–Ω–æ–º—É –º—ñ—Å—Ç—ñ. –ù–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –≤ Naypyitaw

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [65]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='City', aggfunc='value_counts')
invoices_by_category

,Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,City,,,,,,
A,Yangon,60,51,58,47,65,59
B,Mandalay,55,62,50,53,50,62
C,Naypyitaw,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [127]:
invoices_by_category.sort_values(by=['Electronic accessories'], ascending=[False]).head(1)

,Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,City,,,,,,
A,Yangon,60,51,58,47,65,59

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ì—ñ–ø–æ—Ç–µ–∑–∏:
1.–ß–∏ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —É —Ä—ñ–∑–Ω–∏—Ö Customer type?	
2.–ß–∏ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —É —Ä—ñ–∑–Ω–∏—Ö Gender?
3.–ß–∏ –∑–±—ñ–ª—å—à—É—é—Ç—å—Å—è –ø—Ä–æ–¥–∞–∂—ñ –∑ –∫–æ–∂–Ω–∏–º –º—ñ—Å—è—Ü–µ–º?

In [190]:
#–≥—ñ–ø–æ—Ç–µ–∑–∞ 1
grouped = df.groupby('Customer type')
grouped['Total'].mean()

Customer type
Member    327.791305
Normal    318.122856
Name: Total, dtype: float64

In [200]:
#–≥—ñ–ø–æ—Ç–µ–∑–∞ 2
grouped = df.groupby('Gender')
print(grouped['Total'].mean())
total_gender = pd.pivot_table(df, index='Gender', columns='Product line', values='Total', aggfunc='mean')
total_gender

Gender
Female    335.095659
Male      310.789226
Name: Total, dtype: float64

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,322.643125,317.056250,368.565750,290.015414,380.213639,324.712739
Male,316.691965,291.079207,273.499125,348.099460,294.136241,340.360327

In [206]:
#–≥—ñ–ø–æ—Ç–µ–∑–∞ 3
def get_month(date):
    date[:1]
    return date[:1]

df['Month']=df.Date.apply(get_month)
df['Month']

grouped = df.groupby('Month')
grouped['gross income'].sum()

Month
1    5537.708
2    4629.494
3    5212.167
Name: gross income, dtype: float64

–Ø–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å:

1. –£ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ–≤ –∑ Customer type=Member  —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –±—ñ–ª—å—à–µ –Ω–∞ 3,2% –±—ñ–ª—å—à–∏–π. –ú–æ–∂–ª–∏–≤–æ –≤–∞—Ä—Ç–æ –∑–∞–æ—Ö–æ—á—É–≤–∞—Ç–∏ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ–≤ —Å—Ç–∞–≤–∞—Ç–∏ Member
2. –£ –∂—ñ–Ω–æ–∫ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –Ω–∞ 7,7% –±—ñ–ª—å—à–∏–π, —Ü–µ –ø—Ä–∏–≤—ñ–¥ –∑—Ä–æ–±–∏—Ç–∏ —Ä–µ–∫–ª–∞–º—É –æ—Ä—å–µ–Ω–æ–≤–∞–Ω—É –Ω–∞ –∂—ñ–Ω–æ–∫ –¥–ª—è —ó—Ö –∑–∞–ª—É—á–µ–Ω–Ω—è. –¢–∞–∫–æ–∂ —Å–∏–ª—å–Ω–æ –º–µ–Ω—à–µ —á–µ–∫ —É —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —É —Ä–æ–∑–¥—ñ–ª—ñ Home and lifestyle, –º–æ–∂–ª–∏–≤–æ —á–æ–ª–æ–≤—ñ–∫–∏ –ø—Ä–æ—Å—Ç–æ –Ω–µ –∑–Ω–∞—é—Ç—å, —â–æ –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –≤ —Ü—å–æ–º—É –≤—ñ–¥–¥—ñ–ª—ñ –Ω–µ –∑–∞—Ö–æ–¥—è—Ç—å —Ç—É–¥–∏- –º–æ–∂—É—Ç—å –∑–Ω–∞–¥–æ–±–∏—Ç–∏—Å—è —Ä–µ–∫–ª–∞–º–∫–∏/–≤–∏–≤—ñ—Å–∫–∏ —è–∫—ñ –±—É–¥—É—Ç—å –æ–∑–Ω–∞–π–æ–º–ª—é–≤–∞—Ç–∏ –∑ —Ä—ñ–∑–Ω–∏–º–∏ –ø—Ä–æ–¥—É–∫—Ç–∞–º–∏ –∑ —Ü—ñ—î—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó
3. –ù–∞ —Ç—Ä—å–æ—Ö –º—ñ—Å—è—Ü—è—Ö —Å–∫–ª–∞–¥–Ω–æ –≥–æ–≤–æ—Ä–∏—Ç–∏ –ø—Ä–æ –¥–∏–Ω–∞–º—ñ–∫—É, –∞–ª–µ –≤ –ø–æ–¥–∞–ª—å—à–æ–º—É –º–∏ –º–æ–∂–µ–º–æ —Å–ø–æ—Å—Ç–µ—Ä—ñ–≥–∞—Ç–∏ –∑–∞ —Ü–∏–º –∑–Ω–∞—á–µ–Ω–Ω—è–º–∏, —â–æ–± —Ä–æ–∑—É–º—ñ—Ç–∏ —â–æ —Ä—É—Ö–∞—î–º–æ—Å—è –≤ –ø—Ä–∞–≤–∏–ª—å–Ω–æ–º—É –Ω–∞–ø—Ä—è–º—ñ –≤ –∑–∞–æ—Ö–æ—á–µ–Ω–Ω—ñ –Ω–æ–≤–∏—Ö –ø–æ–∫—É–ø—Ü—ñ–≤.